[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Wi-Fi scan & connect
Name[ru]=Wi-Fi сканирование + подключение
Comment=scan & connect Wi-Fi
Comment[ru]=Сканирование и подключение Wi-Fi
Icon=/usr/share/pixmaps/network-wireless.png
Exec=wifi
StartupNotify=true
Terminal=false
Type=Application
Categories=Network