[Desktop Entry]
Encoding=UTF-8
Name=Настроить интернет
Icon=connect
Comment=Настроить интернет
Exec=loginroot connect
Terminal=false
Type=Application
Categories=Settings;Network
GenericName=connect
