ACTION!="add|change", GOTO="remove_modem"

SUBSYSTEM=="usbmisc", SUBSYSTEMS=="usb", KERNEL=="cdc-wdm?", RUN+="/bin/sleep 10", RUN+="/usr/sbin/modem-stats -c AT^NDISCONN=1,1 /dev/%k", GOTO="end_modem"

SUBSYSTEM=="tty", SUBSYSTEMS=="usb", KERNEL=="ttyUSB?|ttyACM?",  RUN+="check3Gmodem %k", GOTO="end_modem"

LABEL="remove_modem"
ACTION=="remove", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", KERNEL=="ttyUSB?|ttyACM?", RUN+="/bin/rm /dev/modem", RUN+="/bin/rm /dev/ttyUSB_utps_pcui"

LABEL="end_modem"
